<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='renderer' content='webkit'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name='description' content='E-PORTS LOGIN'>
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- <script>
    (function(){
      var ua = window.navigator.userAgent.toLowerCase();
      if (/(msie | rv:11.0)/.test(ua)) {
        window.location.href = 'https://portal.e-ports.com/browser.html';
      }
    })()
  </script> -->
</head>
<body>
  <div id="root"></div>
</body>
</html>
