// 主题颜色
$bg: #f0f0f0;
$bg1: #f7f7f7;
$bg-shadowBlue: #e6f7ff;
$bg-infoAlert: #f0f9ff;
$bg-sucAlert: #f6ffed;
$bg-warnAlert: #fffbe6;
$bg-errorAlert: #fff1f0;

// border颜色
$border-focus: #409eff;
$border-default: #dcdfe6;
$border-error: #f56c6c;
$border-line: #d9d9d9;
$border-infoAlert: #cce9ff;
$border-sucAlert: #b7eb8f;
$border-warnAlert: #ffe58f;
$border-errorAlert: #ffa39e;

// 字体颜色
$color-text-common: rgba(0, 0, 0, 0.65);
$color-text-common2: rgba(0, 0, 0, 0.43);
$color-text-common3: rgba(0, 0, 0, 0.75);
$color-text-title: #4a4a4a;
$color-text-input: #606266;
$color-text-blue: #4a90e2;
$color-text-error: #f56c6c;
$color-text-remind: #f5a623;
$color-text-remind: #f5a623;

//按钮颜色
$btn-blue: #004588;
$btn-shadowBlue: #4990e2;

//字体定义规范
$font-size-small-ss: 8px;
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px; // 正常文字
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-sx: 24px;
$font-size-large-x: 36px; // 标题
$font-size-large-xx: 48px;
